<div class="dashboard-layout">

  <!-- LEFT SIDE (Jobs) -->
  <div class="left-section">
    <div class="jobs-grid">
      <div class="job-card" *ngFor="let job of availableJobs">

        <div class="card-header">
          <h2>{{ job.rolePosition }}</h2>
          <span class="badge">{{ job.workModel }}</span>
        </div>

        <div class="card-body">
          <p class="company">TalentFlow</p> 
          <p class="location">{{ job.workLocation }}</p>
          <p><strong>Experience:</strong> {{ job.minExperienceYears }} yrs</p>
          <p class="skills">
            <strong>Skills:</strong> {{ job.requiredSkills }}
          </p>
        </div>

        <div class="card-footer">
          <button class="btn-apply">View Details</button>
        </div>

      </div>
    </div>
  </div>

  <!-- RIGHT SIDE (Calendar) -->
  <div class="right-section">
    <div class="calendar-card">
      <h3 class="panel-title">Interview Calendar</h3>

      <app-candidate-calendar
        (dateSelected)="handleDateSelect($event)">
      </app-candidate-calendar>
    </div>
  </div>

</div>