<aside class="sidebar">
  <div class="sidebar-header">
    <div class="logo-container">
      <div class="logo-icon"></div>
      <div class="logo-text">
        <span class="brand-name">TalentFlow</span>
        <span class="brand-sub">RECRUIT PRO</span>
      </div>
    </div>
  </div>

  <div class="nav-container">
    <div class="nav-section">
      <label>MAIN MENU</label>
      <ul class="nav-list">
        <li routerLinkActive="active"><a routerLink="/recruiter/dashboard">Dashboard</a></li>
        <li routerLinkActive="active"><a routerLink="/recruiter/view-candidate">Candidates</a></li>
        <li routerLinkActive="active"><a routerLink="/recruiter/interviews">Interviews</a></li>
      </ul>
    </div>

    <div class="nav-section">
      <label>RECRUITMENT</label>
      <ul class="nav-list">
        <li routerLinkActive="active"><a routerLink="/recruiter/pipeline">Pipeline</a></li>
        <li routerLinkActive="active"><a routerLink="/recruiter/feedback">Feedback</a></li>
      </ul>
    </div>
  </div>

  <div class="sidebar-footer">
    <div class="pro-card">

    </div>
    
    <div class="settings-link">
      <a routerLink="/settings">Settings</a>
    </div>
  </div>
</aside>